---
import Layout from "../layouts/Layout.astro";
import { fetchCountries } from "../services";
import Countries from "../components/Countries";
import Filters from "../components/Filters";

// Fetch countries
const { data } = await fetchCountries();

let countries = data;

// function searchCountries() {
// 	const filteredCountries = countries.filter((country) =>
//     	country.name.common.toLowerCase().includes(filter.toLowerCase())
// 	);

// }
---

<Layout title="Wiki Nations">
	<header class="w-full max-w-[1300px] mx-auto flex flex-col gap-2 shadow-lg mt-8 px-8 min-[1300px]:px-0">
		<div class="w-full">
			<h1 class="text-3xl font-bold text-white">Wiki Nations</h1>
		</div>
		<div class="w-full">
			<Filters client:load />
		</div>
	</header>
	<main class="w-full flex justify-center items-center bg-[#13151a]">
		<section>
			<article>
				{
					countries && countries !== null && countries.length > 0
					? <Countries rawCountries={countries} client:load />
					: <div>Loading...</div>
				}
			</article>
		</section>
	</main>
</Layout>