---
import Layout from "../../layouts/Layout.astro";
import { fetchCountries, fetchCountryByName } from "../../services";

export async function getStaticPaths() {
	const { data: countries } = await fetchCountries();

	const paths = countries.map((country: any) => ({
		params: { id: country.name.common },
	}));

	return paths;
}

const { id } = Astro.params;

// Fetch country with id
const { data: country } = await fetchCountryByName(id!);
---

<Layout title={`${id} | Wiki Nations`}>
	<main class="w-full h-screen flex justify-center items-center">
	</main>
</Layout>