---
import WikiNationsLogo from "../assets/wiki-nations.png";
import Spin from "../icons/Spin.icon.astro";
import ToggleMode from "./ToggleMode.astro";
import { Image } from 'astro:assets';
---

<header class="w-full max-w-[1300px] mx-auto flex flex-col gap-3 mt-8 px-8 min-[1300px]:px-0">
    <div class="w-full relative flex gap-2 justify-between items-center">
        <a href="/" class="flex gap-1.5 items-center select-none">
            <Image
                src={WikiNationsLogo}
                alt="WikiNations Logo"
                width={48}
                height={48}
                class="size-12 wiki-nations-logo"
            />
            <h1 class="text-3xl font-bold">
                <span class="bg-clip-text text-transparent drop-shadow-[1px_1px_0px_rgb(191,186,177)] dark:drop-shadow-[1px_1px_0px_rgba(217,192,162,1)] bg-center bg-[length:125%] bg-[url(/src/assets/wiki-nations.png)]">Wiki</span>
                <span class="bg-clip-text text-transparent drop-shadow-[1px_1px_0px_rgb(191,186,177)] dark:drop-shadow-[1px_1px_0px_rgba(217,192,162,1)] bg-center bg-[length:125%] bg-[url(/src/assets/wiki-nations.png)]">Nations</span>
            </h1>
        </a>
        
        <div class="flex gap-2 items-center">
            {/* Navigate loader */}
            <div id="loader" class="hidden fixed top-2.5 right-2.5 items-center p-2 font-semibold leading-6 text-sm shadow rounded-md border border-gray-500 dark:border-text-nations text-white bg-gray-500 dark:bg-background-nations transition ease-in-out duration-150 cursor-not-allowed">
                <div class="size-5">
                    <Spin />
                </div>
            </div>

            {/* Toggle mode */}
            <ToggleMode />
        </div>
    </div>
    
    <slot />
</header>

<style>
    .wiki-nations-logo {
        animation: roll 0.75s linear;   
    }
	@keyframes roll {
  		0% {
    		transform: translateX(-500%) rotate(0deg);
  		}
  		100% {
    		transform: translateX(0%) rotate(360deg);
 		}
	}
</style>

<script>
    // Handle loader between pages
	document.addEventListener('astro:before-preparation', () => {
	    document.getElementById('loader')!.classList.remove('hidden');
	    document.getElementById('loader')!.classList.add('inline-flex');
	});
	document.addEventListener('astro:after-preparation', () => {
        document.getElementById('loader')!.classList.remove('inline-flex');
	    document.getElementById('loader')!.classList.add('hidden');
	});
</script>